<div class="row">

    <div class="col-md-6">

        <div class="box box-primary">
            <div class="box-header">
                <a routerLink="/dashboard/rol/listarRol" class="btn btn-primary  pull-right"><i class="fa fa-pencil"></i> Listado roles</a>
            </div>

            <div class="box-body">
                <form (ngSubmit)="actualizarRol( f )" #f="ngForm" autocomplete="off" novalidate="">

                    <!-- NOMBRE-->
                    <div class="form-row " [ngClass]="{'has-error': (nombre.errors?.required || nombre.errors?.minlength) && nombre.touched }">
                        <div class="form-group col-md-12" >
                            <div class="col-md-2">
                                <label for="nombre" >Nombre</label>
                            </div>
                            <div class="col-md-10">

                                <input type="text" class="form-control"
                                 placeholder="Ingrese su Nombre"
                                name="nombre"  [(ngModel)]="rol.nombre"
                                minlength="5" required
                                #nombre="ngModel">

                                <div *ngIf="nombre.errors?.required" class="help-block">
                                    El nombre es requerido
                                </div>
                                <div *ngIf="nombre.errors?.minlength" class="help-block">
                                    Por lo menos {{ nombre.errors.minlength.requiredLength}} caracteres.
                                </div>
                            </div>
                        </div>
                    </div>


                    <!-- PERMISOS -->
                    <div class="form-group col-md-6">
                        <label>Permisos</label>
                        <div *ngFor="let permiso of permisosSistema; let i = index">
                            <div class="checkbox">
                                <label >
                                    <input value={{permiso.name}} type="checkbox" (change)="checkPermisos($event)" [checked]="permisosCheckedos(permiso.id,permiso.name)" />
                                <span>{{ permiso.name }}</span>
                                </label>
                            </div>
                        </div>

                    </div>

                    <div v-if="adminUsuario === true || updateRol === true" class="justify-content-end">
                        <input type="submit" value="Editar rol" class="btn btn-primary btn-block">
                    </div>

                </form>

            </div>

        </div>

    </div>

</div>